
@model PiData.WebUI.Business.Common.CurrencyListDTO

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Tarih</th>
            <th>Para Birimi</th>
            <th>Döviz Alış</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model.currencyLists)
        {
            <tr>
                <td>@item.Date</td>
                <td>@item.CurrencyName</td>
                <td>@item.ForexBuying</td>
            </tr>

        }*@
    </tbody>
</table>


