
.btn-app {
    min-width: 50px;
    height: 50px;
    padding: 5px 1px !important;
    float: right;
}
.satir {
    /*padding: 6px 3px !important;*/
    /*width:80% !important;*/
}
.form-control{
    padding:3px 3px !important;
}
.buttons {
    padding-right: 3%;
}

.pagination {
    float: right;
}
.filtre{
    padding:1%;
}
.datefilters{
   padding-left:2%;
}
.sifredegistir {
    margin-bottom: 35px;
    height: 55px;
}
.sifrefooter{
    padding:25px;
}
.etiketbtn {
    width: 105px;
}
.nonefilters:after {
    content: "" !important;
}

.scrollbox {
    overflow-x: scroll;
}
#tnTip {
    margin-right: 10px;
    margin-left: 10px;
}
#Listele {
    margin-right: 1%;
}
@media (width:768px){
    #Listele{
        margin-right:13%;
    }
}
@media (width:1024px) {
    #Listele {
        margin-right: 2%;
    }
}
#YuklemeBilgisi {
    color: white;
    background-color: #3c8dbc;
}
#Listele {
    color: white;
    background-color: #398439;
}
/*#NotEkle {
    color: white;
    background-color: #3c8dbc;
}*/
.siparisinput {
    width:100%;
}
#checkbox td {
    color: green ;
}
.lblacik{
    color:green;
}
.lblongoru{
    color:purple;
}
.lblsuresigecen{
    color:red;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none !important;
    border: none !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    margin: 0 !important;
    padding: 0 !important;
}
.userfooter{
    margin:1%;
    width:100%;
}

.filtreO {
    box-shadow: 0px 0px 3px 0px #777;
}