@model PiData.Business.Common.ExchangeListDTO
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Line Chart</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Başlangıç Tarihi:</label>

                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right datepicker" id="datepicker" name="baslangicTarihi" placeholder="Başlangıç Tarihi">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Bitiş Tarihi:</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right datepicker2" id="datepicker2" placeholder="Bitiş Tarihi">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Para Birimi</label>
                            <select class="form-control select2" style="width: 100%;" id="parabirimleriG">
                                @foreach (var item in Model.Currencies)
                                {
                                    <option value="@item.Currency" class="option">@item.Currency</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <br />
                            <a href="#" class="btn btn-success" id="Grafik">Grafik</a>
                        </div>
                    </div>

                </div>
                
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-body">
                    <div id="CurrencyGraphicField">

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

@*<script src="../Content/Layout/js/jquery.min.js"></script>*@
<script>
    $(document).ready(function () {
        $('#Grafik').click(function () {
            $("#CurrencyGraphicField").empty();
            var url = '@Url.Action("GetGraphics", "Currency")';
            var baslangicTarihi = $('.datepicker').val();
            var bitisTarihi = $('.datepicker2').val();
            var CurrencyName = $('#parabirimleriG').children("option:selected").val();

            $.ajax({
                type: "GET",
                url: url,
                data: { startDate: baslangicTarihi, endDate: bitisTarihi, currency: CurrencyName },
                success: function (result) {
                    $("#CurrencyGraphicField").html(result);
                },
            });
        })
    })
</script>


